<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>

        <div class="hero-cta">
              <div class="cta-title">Are you looking to buy or sell real estate?</div>
              <div class="apply-button">
                <a href="/contact/">
                  <button id="apply" type="button" style="font-size: 18px;">Contact us Today!
                  </button>
                </a>
              </div>
			</div>

      <div class="hero-cta">
            <div class="cta-title">Join Our Email List</div>
            <div class="apply-button">
              <a href="/subscribe/">
                <button id="apply" type="button" style="font-size: 18px;">Subscribe
                </button>
              </a>
            </div>
    </div>

</header>
